## CityData .gitignore ##
## Build folders ##
/bin/
/target/*

## Config files and datastores folders ##
env.json
/src/test/data/citylayer-middleware.json
/citydata-files/*
src/test/data/*

## Joularjx results ##
joularjx-result/*/all/total/methods/joularJX-*-all-methods-energy.csv
joularjx-result/*/app/total/methods/joularJX-*-filtered-methods-energy.csv

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## macOS ##
.DS_Store

## Exceptions to the .gitignore ##
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**

