/bin/
/target/
env.json
./src/test/data/citylayer-middleware.json
joularjx-result/*/all/total/methods/joularJX-*-all-methods-energy.csv
joularjx-result/*/app/total/methods/joularJX-*-filtered-methods-energy.csv
/citydata-files
src/test/data/db/*
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

